.shelves{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.shelves button{
    background: #D34745;
    height: 60px;
    width: 70vw;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-left: 100px;
}