.item_display{
display: flex;
width: 100vw;
height: 20vh;
}
.item_img{
    height: 200px;
    width: 200px;
    border: 1px black solid;
}
.item_img img{
    height: 100px;
    width: 100px;
}
.main_item{
    display: flex;
}

.save_button{
    background: #40f99b;
    border: none;
    border-radius: 50px;
    height: 70px;
    width: 200px;
    font-size: 32px;
    font-weight: bold;
}